/****************************************************
**  Color Guide                                    **
*****************************************************/
/************************************

************************************/
/****************************************************
**  Font Guide                                      **
*****************************************************/
/************************************
(Default Bootstrap) - Helvetica Neue
Open Sans
Arimo
************************************/


/****************************************************
**                                                 **
**  Overall                                        **
**                                                 **
*****************************************************/
html {
	position: relative;
	min-height: 100%;
	min-width: 320px;
}
body {
	color: initial;
	font-family: 'Open Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	color: black;
}
a:hover {
  -webkit-transition: color .2s ease-in-out,font-family .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,font-family .2s ease-in-out;
  transition: color .2s ease-in-out,font-family .2s ease-in-out;
  text-decoration: none;
  color: #EC008C;
}
p {
	margin-bottom: 0px;
}
*:focus {
	outline: none;
}
button {
	border: none;
	background: none;	
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	font-size: 1.2em;
}
button:hover {
	transition: .25s;
}


/****************************************************
**                                                 **
**  Bootstrap Custom                               **
**                                                 **
*****************************************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.no-gutter-left {
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: 1;
}

/****************************************************
**                                                 **
**  Add/Override Third-Party CSS                   **
**                                                 **
*****************************************************/
/****************************************************
**  Slick Carousel                                 **
*****************************************************/
.slick-dots li button:before {
	font-size: 1rem;
}
.slick-slider {
	margin-bottom: 0px !important;
}
.slick-dots {
	bottom: 12px !important;
}
/****************************************************
**  BootStrap                                      **
*****************************************************/
.breadcrumb {
	background-color: initial;
	margin: 0;
	padding: 0;
	border-radius: initial;
	font-size: .9em;
}
.nav-link {
	position: relative;
}
.form-control {
	border-radius: 0;
	border: 1px solid #cccccc;
}
.form-control:focus {
	border-color: black;
}

/****************************************************
**                                                 **
**  Site Color Scheme                              **
**                                                 **
*****************************************************/
/*.vintage-blue { color: #7994A7;}
.cs-color { color: #C76256;}
.home-grey { color: #D8D8D8;}
.light-black { color: #4E4E4E;}*/


/****************************************************
**                                                 **
**  Colors (More to add/modify/remove)             **
**                                                 **
*****************************************************/
.black  { color: #000; }
.white  { color: #fff; }
.red    { color: #f00; }
.gray-border-color { color: #cccccc; }
.light-gray-border-color { color: #ededed; }
.orange { color: #ffa500; }
.las-orange { color: #ff9204; }
.green  { color: #006838; }
.gray { color: #969696;}
.cs-red { color:#C50808;}
.hotpink { color: #EC008C;}
.rose-pink {color: #fc7e81;}



/****************************************************
**                                                 **
**  Resuable Classes                               **
**                                                 **
*****************************************************/
/****************************************************
**  Page Widths                                    **
*****************************************************/
.max-wrap {
  max-width: 2560px;
}
.mid-wrap {
	max-width: 1200px;
}
.large-wrap {
	max-width: 2000px;
}
.small-wrap {
	max-width: 1024px;
}
.mini-wrap {
	max-width: 768px;
}
/****************************************************
**  Margins                                        **
*****************************************************/
.cs-both-section {
	margin-bottom: 30px;
	margin-top: 30px;
}
.cs-section {
	margin-bottom: 30px;
}
.cs-sub-fullpage-mar {
	margin-left: 15px;
	margin-right: 15px;
}
.cs-both-sub-section {
	margin-bottom: 15px;
	margin-top: 15px;
}
.cs-sub-section {
	margin-bottom: 15px;
}
.cs-both-seperation {
	padding-bottom: 30px;
	padding-top: 30px;	
}
.cs-seperation {
	padding-bottom: 30px;
}
.cs-both-sub-seperation {
	padding-bottom: 15px;
	padding-top: 15px;
}
.cs-sub-seperation {
	padding-bottom: 15px;
}
.cs-sub-fullpage-pad {
	padding-left: 15px;
	padding-right: 15px;
}
.cs-fullpage-pad {
	padding-right: 30px;
	padding-left: 30px;
}
@media screen and (max-width: 1200px) {
	.cs-xl-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-xl-section {
		margin-bottom: 30px;
	}
	.cs-xl-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-xl-sub-section {
		margin-bottom: 15px;
	}
	.cs-xl-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-xl-seperation {
		padding-bottom: 30px;
	}
	.cs-xl-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-xl-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-xl-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-xl-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (max-width: 991px) {
	.cs-lg-no-both-sub-seperation {
		padding-bottom: 0px;
		padding-top: 0px;		
	}		
	.cs-lg-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-lg-section {
		margin-bottom: 30px;
	}
	.cs-lg-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-lg-sub-section {
		margin-bottom: 15px;
	}
	.cs-lg-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-lg-seperation {
		padding-bottom: 30px;
	}
	.cs-lg-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-lg-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-lg-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-lg-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}	
}
@media screen and (max-width: 767px) {
	.cs-md-no-section {
		margin-bottom: 0px;
	}
	.cs-md-no-both-sub-seperation {
		padding-bottom: 0px;
		padding-top: 0px;		
	}	
	.cs-md-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-md-section {
		margin-bottom: 30px;
	}
	.cs-md-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-md-no-both-sub-section {
		margin-bottom: 0;
		margin-top: 0;
	}		
	.cs-md-sub-section {
		margin-bottom: 15px;
	}
	.cs-md-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-md-seperation {
		padding-bottom: 30px;
	}
	.cs-md-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-md-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-md-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-md-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
	.no-gutter-md {
	  padding-right: 0;
	  padding-left: 0;
	}			
	.no-gutter-tb-md {
	  padding-top: 0;
	  padding-bottom: 0;
	}	
}
@media screen and (max-width: 543px) {
	.cs-sm-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-sm-section {
		margin-bottom: 30px;
	}
	.cs-sm-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-sm-no-both-sub-section {
		margin-bottom: 0;
		margin-top: 0;
	}	
	.cs-sm-sub-section {
		margin-bottom: 15px;
	}
	.cs-sm-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-sm-seperation {
		padding-bottom: 30px;
	}
	.cs-sm-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-sm-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-sm-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-sm-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
	.no-gutter-sm {
	  padding-right: 0;
	  padding-left: 0;
	}				
	.no-gutter-tb-sm {
	  padding-top: 0;
	  padding-bottom: 0;
	}		
}
/****************************************************
**  Misc                                           **
*****************************************************/
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.clear {
  clear: both;
}
.cf:before,
.cf:after {
	content:"";
	display:table;
	line-height:0;
}
.cf:after {
	clear:both;
}
.active-block {
	display: block;
}
.inactive-block {
	display: none;
}
.title-header {
	font-size: 2.4em;
	margin: 0;
}
@media screen and (max-width: 767px) {
	.title-header {
		font-size: 1.8em;
	}	
}
/****************************************************
**  Arrow                                          **
*****************************************************/
i.floating-arrow {
	font-size: 2.4em;
	position: absolute;
	opacity: .5;
}
.pea-left-arrow {
	left: 0;
	top: 35%;
}
.pea-right-arrow {
	right: 0;
	top: 35%;
}


/****************************************************
**                                                 **
**  Button Classes                                 **
**                                                 **
*****************************************************/
.btn-black-white {
	border: 2px solid black;
	background-color: black;
	color: white;
}
.btn-black-white:hover {
	background-color: white;
	color: black;
}
.btn-red-white {
	background-color: #9A3232;
	border: 2px solid #9A3232;
	color: white;
}
.btn-red-white:hover {
	background-color: white;
	color: #9A3232;
}
.btn-white-black {
	border: 2px solid black;
	background-color: white;
	color: black;
}
.btn-white-black:hover {
	background-color: black;
	color: white;	
}
.btn-wish-green {
	border: 2px solid #999967;
	background-color: #999967;
	color: white;
}
.btn-wish-green:hover {
	background-color: white;
	color: #999967;
}
.btn-blue-white {
	border: 2px solid #7994A7;
	background-color: #7994A7;	
	color: white;
}
.btn-blue-white:hover {
	background-color: white;	
	color: #7994A7;
}



/****************************************************
**                                                 **
**  Header                                         **
**                                                 **
*****************************************************/
.findapea-header {
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
.findapea-header-logo-side-container {
	margin: 10px 0;
}
.findapea-header-logo-side {
	width: 160px;
}
.findapea-header-logo-side-container img {
	width: 100%;
}
.findapea-header-list-menu {
	width: 100%;
	padding-left: 160px;
}
.findapea-header-list-menu-container > ul > li > ul > li {
	float: left;
}


.findapea-header-left-menu {
	margin-left: 30px;
	margin-top: 20px;
	font-size: .85em;
}
.findapea-header-left-menu ul li {
	margin-left: 30px;
	padding-bottom: 10px;
	color: #6e6e6e;
	cursor: pointer;	
}


.findapea-header-right-side ul > li {
	margin-left: 30px;
}
.findapea-header-right-side ul > li i {
	font-size: 1.6em;
	margin: 0 5px;
}
.findapea-header-right-side ul > li span {
	vertical-align: top;
	font-size: .9em;
}



.header-left-selection {
	border-bottom: 2px solid #EC008C;
	color: black !important;
}



@media screen and (max-width: 1199px) {
	.findapea-header-list-menu-container ul li i {
		font-size: 1.8em;
	}
}

/****************************************************
**                                                 **
**  Footer                                         **
**                                                 **
*****************************************************/
.footer-nav-findapea {
	background-color: black;	
	color: white;
	font-size: .85em;
}
.footer-nav-findapea a {
	color: white;
}
.footer-top li > a > i {
	width: 20px;
}
.footer-social-media li {
	display: inline-block;
	margin: 0 5px;
	font-size: 1.4em;
}
.footer-bottom-container {
	padding: 5px 0;
}
.footer-bottom-container p {
	font-size: .85em;
}
/****************************************************
**                                                 **
**  Home Page                                      **
**                                                 **
*****************************************************/
p.index-search-bar-title {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 2);
	font-size: 3em;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
}
@media screen and (max-width: 767px) {
	p.index-search-bar-title {
		font-size: 2em;
	}
}
@media screen and (max-width: 543px) {
	p.index-search-bar-title {
		font-size: 1.5em;
	}
}
/****************************************************
**  Image BG                                       **
*****************************************************/
.image-bg {
	height: 600px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.image-bg-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
}
.image-bg-container img {
	width: 100%;
}
@media screen and (max-width: 991px) {
	.image-bg-container img {
		width: 991px;
	}	
}
@media screen and (max-width: 767px) {
	.image-bg {
		height: 450px;
	}	
	.image-bg-container img {
		width: 767px;
	}	
}
@media screen and (max-width: 543px) {
	.image-bg {
		height: 350px;
	}	
}
/****************************************************
**  Index Search Bar                               **
*****************************************************/
.index-search-bar {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 320px;
	left: 0;
	right: 0;
}
.index-search-bar p {
	color: white;
}
.search-home-bar-wrapper {
	width: 700px;
	position: relative;
}
.search-home-bar-wrapper input {
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 50px;
	width: 100%;
	border: 0;
}
.search-home-bar-wrapper button {
	position: absolute;
	color: #cccccc;
	padding: 8px 20px;
	right: 0;
	top: 0;
}
@media screen and (max-width: 767px) {
	.index-search-bar {
		top: 280px;
	}
	.search-home-bar-wrapper {
		width: 100%;
		padding: 15px;
		position: relative;
	}
	.search-home-bar-wrapper input {
		width: 100%;
		border-radius: 0;
	}
	.search-home-bar-wrapper button {
		right: 10px;
		top: 15px;
	}	
}
@media screen and (max-width: 543px) {
	.index-search-bar {
		top: 210px;
	}
}
/****************************************************
**  Intro Module                                   **
*****************************************************/
.index-intro {
	background: #f5f5f5;
}
/****************************************************
**  Feature Module                                 **
*****************************************************/
.index-feature-intro-container i {
	font-size: 3em;
	color: #EC008C;
}
@media screen and (max-width: 543px) {
	.index-feature-intro-container i {
		font-size: 2em;
	}	
}
/****************************************************
**  Forum Module                                   **
*****************************************************/
.index-forum-intro {
	background: #f5f5f5;
}
.index-forum-intro-container img {
	width: 100%;
}
/****************************************************
**  Start Here Module                              **
*****************************************************/
.index-profile-start-here-container {
	position: relative;
	height: 400px;
	overflow: hidden;
}
.index-profile-start-here-image {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
}
.index-profile-start-here-container p.index-search-bar-title {
	padding-top: 150px;
}
.index-profile-start-here-image img {
	width: 100%;
}
.index-profile-start-here-button {
	width: 100%;
}
.index-profile-start-here-button button {
	width: 200px;
	background-color: #EC008C;
	border-radius: 50px;
	padding: 8px 20px;
}
.index-profile-start-here-button button a {
	color: white;
}
@media screen and (max-width: 991px) {
	.index-profile-start-here-image img {
		width: 991px;
	}	
}
@media screen and (max-width: 767px) {
	.index-profile-start-here-container {
		height: 300px;
	}	
	.index-profile-start-here-container p.index-search-bar-title {
		padding-top: 100px;
	}	
	.index-profile-start-here-image img {
		width: 767px;
	}	
}
/****************************************************
**  Instagram Module                               **
*****************************************************/
.index-social-media ul > li {
	display: inline-block;
	margin: 0 10px;
	font-size: 1.5em;
}
.index-social-media-instagram-photo > div > div {
	padding: 4px;
	padding: 4px;
	border: 1px solid #dcdcdc;	
}
.index-social-media-instagram-photo > div > div > img {
	width: 100%;
}

/****************************************************
**                                                 **
**  Listing Page                                   **
**                                                 **
*****************************************************/
.findapea-listing-page-container {
	font-size: .85em;
}
.listing-page-query-filter {
	border-bottom: 1px solid #cccccc;
}
.listing-page-query-filter-search-container input {
	width: 100%;
	border: 1px solid #dbdbdb;
	height: 40px;
	padding: 0 15px;
}
.listing-page-map-container > img {
	width: 100%;
}
.listing-page-query-profile-section-container {
	border-bottom: 1px solid #dbdbdb;
}
.listing-page-query-profile-section img {
	width: 100%;
	border: 1px solid black;
}
.listing-page-query-profile-section-factlist {
	margin: 10px 0;
}
.listing-page-query-profile-section-filterlist > li,
.listing-page-query-profile-section-factlist > li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/****************************************************
**                                                 **
**  Profile Page                                   **
**                                                 **
*****************************************************/
.findapea-profile-info-extended,
.findapea-profile-info-interest {
	border-bottom: 1px solid #eceeef;
}
.findapea-profile-section-image-container img {
	width: 100%;
	padding: 4px;
	border: 1px solid #cccccc;
}
.findapea-profile-section-container > div > div h6 {
	background-color: #f7f7f7;
	border-bottom: 1px solid #eceeef;
}
.findapea-profile-section-verify-container,
.findapea-profile-section-aboutme-container {
	border: 1px solid #cccccc;
}
.findapea-profile-section-verify-container table,
.findapea-profile-section-aboutme-container p {
	font-size: .8em;
}
.findapea-profile-section-verify-container .table td, 
.findapea-profile-section-verify-container .table th {
	border-top: 0;
}
.profile-listing-room img {
	width: 100%;
}
.profile-listing-room p {
	font-size: .8em;
}
.profile-listing-room p i {
	width: 25px;
}
.findapea-profile-info-photoalbum {
	position: relative;
}
.findapea-profile-info-photoalbum-container {
	border-top: 2px solid #eceeef;
	border-bottom: 2px solid #eceeef;
}
.findapea-profile-info-photoalbum-container div {
	padding: 0 5px;
}
.findapea-profile-info-photoalbum-container div a > img {
	width: 100%;
}
.findapea-profile-info-reviews-container > h2 > span,
.review-profile-message-container h5 > span {
	font-size: .7em
}
.findapea-profile-review {
	padding-bottom: 10px;
	border-bottom: 1px solid #eceeef;
}
.review-profile-pic {
	float: left;
	width: 150px;
}
.review-profile-pic-container img {
	width: 125px;
}
@media screen and (max-width: 543px) {
	.findapea-profile-section-image-container img {
		padding: 0px;
		border: 0;
	}	
	.findapea-profile-page-container > div > div h6 {
		background-color: none;
		border-bottom: 0;
	}
	.findapea-profile-section-verify-container,
	.findapea-profile-section-aboutme-container {
		border: 0;
	}	
}

/****************************************************
**                                                 **
**  Chat Page                                      **
**                                                 **
*****************************************************/
/*Temp Styling DELETE WHEN DEVELOPMENT*/
.findapea-chatroom-page-container .listing-page-query-profile-section-factlist,
.findapea-chatroom-page-container .listing-page-query-profile-section-filterlist,
.findapea-chatroom-page-container .listing-page-query-profile-section a > p {
	display: none;
}
.findapea-chatroom-page-container .listing-page-query-profile-section p.chat-show {
	display: block !important;
}
.findapea-chatroom-page-container .listing-page-query-profile-section:first-child {
	background-color: #f7f7f7;
}
/*Normal Styling*/
.findapea-chatroom-list {
	border-right: 1px solid #cccccc;
}










































