/****************************************************
**  Color Guide                                    **
*****************************************************/
/************************************

************************************/
/****************************************************
**  Font Guide                                      **
*****************************************************/
/************************************
(Default Bootstrap) - Helvetica Neue
Open Sans
Arimo
************************************/


/****************************************************
**                                                 **
**  Overall                                        **
**                                                 **
*****************************************************/
html {
	position: relative;
	min-height: 100%;
	min-width: 320px;
}
body {
	color: initial;
	font-family: 'Poppins', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
a {
	color: black;
}
a:hover {
  -webkit-transition: color .2s ease-in-out,font-family .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,font-family .2s ease-in-out;
  transition: color .2s ease-in-out,font-family .2s ease-in-out;
  text-decoration: none;
  color: #cccccc;
}
p {
	margin-bottom: 0px;
}
*:focus {
	outline: none;
}
button {
	border: none;
	background: none;	
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0;
	font-size: 1.2em;
}
button:hover {
	transition: .25s;
}


/****************************************************
**                                                 **
**  Bootstrap Custom                               **
**                                                 **
*****************************************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.no-gutter-left {
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: 1;
}

/****************************************************
**                                                 **
**  Add/Override Third-Party CSS                   **
**                                                 **
*****************************************************/
/****************************************************
**  Slick Carousel                                 **
*****************************************************/
.slick-dots li button:before {
	font-size: 1rem;
}
.slick-slider {
	margin-bottom: 0px !important;
}
.slick-dots {
	bottom: 12px !important;
}
/****************************************************
**  BootStrap                                      **
*****************************************************/
.breadcrumb {
	background-color: initial;
	margin: 0;
	padding: 0;
	border-radius: initial;
	font-size: .9em;
}
.nav-link {
	position: relative;
}
.form-control {
	border-radius: 0;
	border: 1px solid #cccccc;
}
.form-control:focus {
	border-color: black;
}

/****************************************************
**                                                 **
**  Site Color Scheme                              **
**                                                 **
*****************************************************/
/*.vintage-blue { color: #7994A7;}
.cs-color { color: #C76256;}
.home-grey { color: #D8D8D8;}
.light-black { color: #4E4E4E;}*/


/****************************************************
**                                                 **
**  Colors (More to add/modify/remove)             **
**                                                 **
*****************************************************/
.black  { color: #000; }
.white  { color: #fff; }
.red    { color: #f00; }
.gray-border-color { color: #cccccc; }
.light-gray-border-color { color: #ededed; }
.orange { color: #ffa500; }
.las-orange { color: #ff9204; }
.yellow { color: #ff0; }
.green  { color: #008000; }
.blue   { color: #00f; }
.gray { color: #969696;}
.cs-red { color:#C50808;}
.hotpink { color: #a90055;}
.rose-pink {color: #fc7e81;}



/****************************************************
**                                                 **
**  Resuable Classes                               **
**                                                 **
*****************************************************/
/****************************************************
**  Page Widths                                    **
*****************************************************/
.max-wrap {
  max-width: 2560px;
}
.mid-wrap {
	max-width: 1200px;
}
.large-wrap {
	max-width: 2000px;
}
.small-wrap {
	max-width: 1024px;
}
/****************************************************
**  Margins                                        **
*****************************************************/
.cs-both-section {
	margin-bottom: 30px;
	margin-top: 30px;
}
.cs-section {
	margin-bottom: 30px;
}
.cs-both-sub-section {
	margin-bottom: 15px;
	margin-top: 15px;
}
.cs-sub-section {
	margin-bottom: 15px;
}
.cs-both-seperation {
	padding-bottom: 30px;
	padding-top: 30px;	
}
.cs-seperation {
	padding-bottom: 30px;
}
.cs-both-sub-seperation {
	padding-bottom: 15px;
	padding-top: 15px;
}
.cs-sub-seperation {
	padding-bottom: 15px;
}
.cs-sub-fullpage-pad {
	padding-left: 15px;
	padding-right: 15px;
}
.cs-fullpage-pad {
	padding-right: 30px;
	padding-left: 30px;
}
@media screen and (max-width: 1200px) {
	.cs-xl-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-xl-section {
		margin-bottom: 30px;
	}
	.cs-xl-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-xl-sub-section {
		margin-bottom: 15px;
	}
	.cs-xl-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-xl-seperation {
		padding-bottom: 30px;
	}
	.cs-xl-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-xl-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-xl-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-xl-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (max-width: 991px) {
	.cs-lg-no-both-sub-seperation {
		padding-bottom: 0px;
		padding-top: 0px;		
	}		
	.cs-lg-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-lg-section {
		margin-bottom: 30px;
	}
	.cs-lg-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-lg-sub-section {
		margin-bottom: 15px;
	}
	.cs-lg-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-lg-seperation {
		padding-bottom: 30px;
	}
	.cs-lg-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-lg-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-lg-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-lg-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}	
}
@media screen and (max-width: 767px) {
	.cs-md-no-section {
		margin-bottom: 0px;
	}
	.cs-md-no-both-sub-seperation {
		padding-bottom: 0px;
		padding-top: 0px;		
	}	
	.cs-md-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-md-section {
		margin-bottom: 30px;
	}
	.cs-md-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-md-no-both-sub-section {
		margin-bottom: 0;
		margin-top: 0;
	}		
	.cs-md-sub-section {
		margin-bottom: 15px;
	}
	.cs-md-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-md-seperation {
		padding-bottom: 30px;
	}
	.cs-md-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-md-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-md-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-md-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
}
@media screen and (max-width: 543px) {
	.cs-sm-both-section {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.cs-sm-section {
		margin-bottom: 30px;
	}
	.cs-sm-both-sub-section {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.cs-sm-no-both-sub-section {
		margin-bottom: 0;
		margin-top: 0;
	}	
	.cs-sm-sub-section {
		margin-bottom: 15px;
	}
	.cs-sm-both-seperation {
		padding-bottom: 30px;
		padding-top: 30px;	
	}
	.cs-sm-seperation {
		padding-bottom: 30px;
	}
	.cs-sm-both-sub-seperation {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.cs-sm-sub-seperation {
		padding-bottom: 15px;
	}
	.cs-sm-sub-fullpage-pad {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cs-sm-fullpage-pad {
		padding-right: 30px;
		padding-left: 30px;
	}
}
/****************************************************
**  Misc                                           **
*****************************************************/
.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.clear {
  clear: both;
}
.cf:before,
.cf:after {
	content:"";
	display:table;
	line-height:0;
}
.cf:after {
	clear:both;
}
.active-block {
	display: block;
}
.inactive-block {
	display: none;
}
.title-header {
	font-size: 2.4em;
	margin: 0;
}
@media screen and (max-width: 767px) {
	.title-header {
		font-size: 1.4em;
	}	
}


/****************************************************
**                                                 **
**  Button Classes                                 **
**                                                 **
*****************************************************/
.btn-black-white {
	border: 2px solid black;
	background-color: black;
	color: white;
}
.btn-black-white:hover {
	background-color: white;
	color: black;
}
.btn-red-white {
	background-color: #9A3232;
	border: 2px solid #9A3232;
	color: white;
}
.btn-red-white:hover {
	background-color: white;
	color: #9A3232;
}
.btn-white-black {
	border: 2px solid black;
	background-color: white;
	color: black;
}
.btn-white-black:hover {
	background-color: black;
	color: white;	
}
.btn-wish-green {
	border: 2px solid #999967;
	background-color: #999967;
	color: white;
}
.btn-wish-green:hover {
	background-color: white;
	color: #999967;
}
.btn-blue-white {
	border: 2px solid #7994A7;
	background-color: #7994A7;	
	color: white;
}
.btn-blue-white:hover {
	background-color: white;	
	color: #7994A7;
}



/****************************************************
**                                                 **
**  Header                                         **
**                                                 **
*****************************************************/


/****************************************************
**                                                 **
**  Home Page                                      **
**                                                 **
*****************************************************/
.findapea-index-hero-container {
	position: relative;
	height: 600px;
	overflow: hidden;
}
/****************************************************
**  Image BG                                       **
*****************************************************/
.image-bg {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: -10;
}
.image-bg-container img {
	width: 100%;
}
@media screen and (max-width: 991px) {
	.image-bg-container img {
		width: 991px;
	}	
}
@media screen and (max-width: 767px) {
	.findapea-index-hero-container {
		height: 500px;
	}	
	.image-bg-container img {
		width: 767px;
	}	
}
@media screen and (max-width: 543px) {
	.findapea-index-hero-container {
		height: 400px;
	}	
}
/****************************************************
**  Index Header                                   **
*****************************************************/
.index-header {
	color: rgba(255,255,255, .9);
	width: 100%;
}
.index-header ul li {
	float: left;
	margin: 0 10px;
}
.index-header ul li a {
	color: rgba(255,255,255, .9);
}
@media screen and (max-width: 767px) {
	.index-header {
		color: #EC008C;
		background: white;
	}
	.index-header-right-side-container i {
		font-size: 1.8em;
	}
}
/****************************************************
**  Index Search Bar                               **
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
RE-WORK THIS THING AGAIN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
*****************************************************/
.index-search-bar p {
	color: white;
}
.index-search-bar p.index-search-bar-title {
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 2);
	font-size: 3em;
	color: white;
	padding-top: 300px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
}
.search-home-bar-wrapper {
	width: 700px;
	position: relative;
}
.search-home-bar-wrapper input {
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 50px;
	width: 100%;
	border: 0;
}
.search-home-bar-wrapper button {
	position: absolute;
	color: #cccccc;
	padding: 8px 20px;
	right: 0;
	top: 0;
}
@media screen and (max-width: 767px) {
	.index-search-bar p.index-search-bar-title {
		font-size: 2em;
		padding-top: 280px;
	}
	.search-home-bar-wrapper {
		width: 100%;
		padding: 15px;
		position: relative;
	}
	.search-home-bar-wrapper input {
		width: 100%;
		border-radius: 0;
	}
	.search-home-bar-wrapper button {
		padding: 23px 30px;
	}	
}
@media screen and (max-width: 543px) {
	.index-search-bar p.index-search-bar-title {
		font-size: 1.5em;
		padding-top: 200px;
	}
}
/****************************************************
**  Profile Representative Module                  **
*****************************************************/
.index-profile-rep-module {
	background: #e7e7e7;
}
.index-profile-rep-module-container .title-header {
	color: #EC008C;
}
.index-profile-rep-portrait-container > div > img {
	width: 100%;
}
/****************************************************
**                                                 **
**  Footer                                         **
**                                                 **
*****************************************************/







